<h1>Yeni Ürün Ekle</h1>

<form method="post" action="/Urun/Ekle">
    <input type="text" name="Ad" placeholder="Ürün Adı" required />
    <input type="number" name="Fiyat" placeholder="Fiyat" required />
    <button type="submit">Ürün Ekle</button>
</form>
